<% provide(:title, "Index") %>
<div class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">公告</h3>
          </div>
        <div class="panel-body">
          <ol class="notices">
            <%= render 'shared/notices' %>
            <li class="more"><%= link_to 'more',more_path%></li>
          </ol>
        </div>
      </div>
    </div>
    <%= render 'shared/nav' %>
  </div>
</div>
<div class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong>文章类别</strong>
        </div>
        <div class="panel-body">
          <ul>
            <% @taxons.each do |taxon| %>
              <li><%= raw link_to taxon.list, taxon_path(taxon) %></li>
            <% end %>
         </ul>
       </div>
       <div class="panel-footer"></div>
     </div>
   </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <%= paginate @wenzhangs, :theme => 'twitter-bootstrap-3' %>
      <% @wenzhangs.each do |wenzhang| %>
        <div class="panel-body">
          <table class="table table-bordered  table-striped table-hover">
            <thead>
              <tr class="success">
                <td>#</td>
                <td>类别</td>
                <td>题目</td>
                <td>创建时间</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= wenzhang.id %></td>
                <td><%= raw wenzhang.taxon.list %></td>
                <td><%= link_to wenzhang.head, wenzhang %></td>
                <td><%= wenzhang.created_at.to_s(:db) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="foot">
    <div id="main" class="main-container container">
      <div class="row">
        <div class="col-md-2">
          <div class="panel panel-primary">
            <div class="panel-heading"><strong>古代诗人推荐</strong></div>
            <div class="panel-body">
              <ul>
                <% @wikis.each do |wiki| %>
                  <li><%= raw link_to wiki.mulu, wiki_path(wiki) %></li>
                <% end %>
              </ul>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
