<% provide(:title, "杜甫") %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <strong>古代文学推荐</strong>
            <ul>
              <li><%= link_to '李白',libai_path %></li>
              <li><%= link_to '杜甫',dufu_path %></li>
              <li><%= link_to '辛弃疾',xqj_path %></li>
              <li><%= link_to '白居易','#' %></li>
              <li><%= link_to '杜牧','#' %></li>
              <li><%= link_to '李清照','#' %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="markdown">
                <strong>杜甫诗歌欣赏</strong>
                <dd>春望</dd>
                <div class="content">
                  <p>国破山河在，城春草木深。</p>
                  <p>感时花溅泪，恨别鸟惊心。</p>
                  <p>烽火连三月，家书抵万金。</p>
                  <p>白头搔更短，浑欲不胜簪。</p>
                </div>
              </div>
                <dd>绝句</dd>
                <div class="content">
                  <p>两个黄鹂鸣翠柳，一行白鹭上青天。</p>
                  <p>窗含西岭千秋雪，门泊东吴万里船。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
