<% provide(:title, "Index") %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
            <strong>古代文学推荐</strong>
            <ul>
              <li><%= link_to '李白',libai_path %></li>
              <li><%= link_to '杜甫',dufu_path %></li>
              <li><%= link_to '辛弃疾','#' %></li>
              <li><%= link_to '白居易','#' %></li>
              <li><%= link_to '杜牧','#' %></li>
              <li><%= link_to '李清照','#' %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="markdown">
              <div class="head">将进酒</div>
                <div class="content">
                  <p> 床前明月光，疑是地上霜。</p>
                  <p> 举头望明月，低头思故乡。</p>
                </div>
              </div>
              <div class="head">望庐山瀑布</div>
                <div class="content">
                  <p> 日照香炉生紫烟，遥看瀑布挂前川。</p>
                  <p> 飞流直下三千尺，疑是银河落九天。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
