  <% provide(:title, "诗歌") %>
  <div id="main" class="main-container container">
    <div class="row">
      <div class="sidebar wiki-sidebar col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="markdown">
              <h3>公告</h3>
              <ol class="notices">
                <%= render 'shared/notices' %>
                <li class="more"><%= link_to 'more',more_path%></li>
              </ol>
             </div>
          </div>
        </div>
      </div>
      <%= render 'shared/nav' %>
    </div>
  </div>
  <div id="main" class="main-container container">
  <div class="row">
    <%= render 'shared/wenzhang' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="markdown">
           <dd>故乡遥</dd>
           <dl>作者：　东风情味</dl>
           <p>逢佳节，倍思亲。离多久，都离不开淡淡的乡愁；走多远，都走不出亲人的思念。故乡与亲人是每个游子午夜梦回时，借以慰藉漂泊心灵的温床。</p>
           <p>我想起了我家巷子尽头那盏昏黄的白炽灯和路口等我回家的身影，是他们照亮了我无数个贪玩晚归的夜晚，也照亮了我的整个童年。</p>
           <p>我想起了小学校园里的皂角树和桂花树，每当夏秋交替之际，都会有很多成熟的皂角被大风吹落，同学们捡回去洗衣服，我仿佛回到了那年的操场上，同学们聚集在那棵两层楼高的桂花树下游戏，十月的桂花如细雨柔丝般纷纷洒落在大家头上。</p>
           <p>我想起了初中那个停电的晚自习，同学们每人点个小蜡烛，在微弱的光线里，大家兴致勃勃的写着作业，单纯而美好的憧憬着未来。</p>
           <p>我想起了那个夏天在小山顶上，迎着习习凉风和小伙伴们在夕阳下奔跑，山底下的小城蜿蜒成一个巨大的“S”形，一条崎岖的公路一直伸向尽头。</p>
           <p>我还想起了那个“黑色”的高三，每天早上准时被梦想叫醒，一边啃着包子一边迷迷糊糊往教室跑，想起了每天晚上熬夜时妈妈冲的热牛奶，直到金色的六月过去，换来一张深蓝色的录取通知书，为我插上了梦想的翅膀，带着我走出了小城，走向未来。</p>
           <p>中秋已近，从孤身一人到上海求学，再辗转到芜湖工作，已经整整八年，恰逢一同来芜湖工作的校友结婚，有感于岁月如白驹过隙，往事历历在目，埋没在红尘中的我们，哪怕此刻无法踏上征途，那么至少将我们的初心好好的珍藏在心中，不让它因岁月的冲刷而斑驳失色；静静地等到时机到来的那一刻，用一种温暖睿智的气质，对自己进行一种期望，抚慰自己看似坚硬的心。</p>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
