<% provide(:title, "Index") %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="markdown">
            <h3>公告</h3>
            <ol class="notices">
              <%= render 'shared/notices' %>
              <li class="more"><%= link_to 'more',more_path%></li>
            </ol>
           </div>
        </div>
      </div>
    </div>
    <%= render 'shared/nav' %>
  </div>
</div>
<div id="main" class="main-container container">
  <div class="row">
    <%= render 'shared/wenzhang' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="markdown">
           <h1>阅读</h1>
           <p>上天入地下海</p>
           <p>万里路上揽尽无限风光</p>
           <p>过去现在未来</p>
           <p>自由往返笑看风云变幻</p>
           <p>虽足不出户</p>
           <p>却</p>
           <p>尝遍了苦辣酸甜</p>
           <p>历尽了离合悲欢</p>
         </div>
       </div>
     </div>

  </div>
  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
