<% provide(:title, "随笔") %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="markdown">
            <h3>公告</h3>
            <ol class="notices">
              <%= render 'shared/notices' %>
              <li class="more"><%= link_to 'more',more_path%></li>
            </ol>
           </div>
        </div>
      </div>
    </div>
    <%= render 'shared/nav' %>
  </div>
</div>
<div id="main" class="main-container container">
  <div class="row">
    <%= render 'shared/wenzhang' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="markdown">
           <dd>双城记之苏州-波尔多</dd>
           <dl>作者：　爱挺</dl>
           <p>算起来这两个城市是我成年之后陆续居住时间最长的两个地方, 也是我人生中有着特殊意义的两个城市: 一个是实现梦想之地, 一个是平静生活之城。随着时间的推移，对这两座城市的喜爱越来越甚，情感越来越浓……</p>
           <p>一个城市要让人觉得舒适就不能太大，以避免拥挤嘈杂带来的无形压力；但又不能太小，否则过于冷清，缺乏活力。波尔多城区和苏州古城区的居民都是百万以下，正好适宜。</p>
           <p>一个城市要称得上美丽，必须要有协调的自然风光，有灵气的水是绝不可少的：波尔多西濒大西洋, 有平静的海湾和细腻的沙滩, 又有加龙河穿城而过；苏州则南临太湖，大运河贯穿其中，城边还有山丘错落。</p>
           <p>一个有内涵的城市当然要有其丰厚的历史和文化，古城苏州自不必说，波尔多建城也有两千年历史（拉丁文古称BURDIGALA）; 从当地所出的名人就能看出一个城市的特质：苏州的唐寅，叶圣陶，波尔多的蒙田，蒙德斯鸠，一个多出文人墨客和教育家，一个是哲学家和思想家的乐园; 而如今大家又把波尔多和红酒，苏州和江南园林融为一体，作为两个颇有特色的城市符号获得举世公认。</p>
           <p>一个有魅力的城市更是充满活力的， 苏州近三十年的发展无论在速度上还是质量上都引领全国；而波尔多则受益于法国前总理，阿兰-于贝市长近二十年的深耕，渐渐成为法国最具增长活力的城市之一，他还将以此作为主要政绩参加法国明年的总统大选。</p>
           <p>一个令人喜爱的城市也一定会有令人垂涎的美食，除了苏式点心，我认为苏州更有代表性的是苏式汤面：纤细，平和，可以朴实无华，也可五颜六色，像极了苏州人的性格。从那随处可见的苏式面馆便可知道它在苏州的普及和受欢迎程度；而波尔多的美食代表，我觉得不是法国西南部的特产鸭肝或鹅肝酱， 而是只产于波尔多附近阿尔卡雄海湾的生蚝：个小，微甜，除波尔多以外地区还不太能见到，倒是常常有大批英国游客前来品尝。这小小的牡蛎也算比较接近波尔多人内心骄傲但还算收敛的性格。</p>
           <p>去年波尔多当选为法国人最喜爱居住的城市，今年苏州也被国际机构评为中国内地最宜居城市，尽管评选标准可能不尽统一，但总的看来我的感受和观察还是不差的吧。</p>
         </div>
       </div>
     </div>

  </div>
  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
