<% provide(:title, "小小说") %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="markdown">
            <h3>公告</h3>
            <ol class="notices">
              <%= render 'shared/notices' %>
              <li class="more"><%= link_to 'more',more_path%></li>
            </ol>
           </div>
        </div>
      </div>
    </div>
    <%= render 'shared/nav' %>
  </div>
</div>
<div id="main" class="main-container container">
  <div class="row">
    <%= render 'shared/wenzhang' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="markdown">
           <dd>碗口上的豁</dd>
           <dl>作者：　早春二月</dl>
           <p>新婚不久，他刚下班回到家里，媳妇就把刚做好的饭菜一样一样的端上来。他看着媳妇做好的满桌子饭菜心里甭提多高兴了，还是有家好啊！</p>
           <p>最后端上来的是一碗香米粥。</p>
           <p>他看着齐耳短发皮肤白皙的新婚妻子，心里有一股幸福感油然而生。</p>
           <p>突然他好像感觉到了什么？心里不由自主地生起一种不悦的感觉来。妻子好像特别注意他现在这种轻微端表情变化。怎么了？</p>
           <p>没怎么，没事儿。他的目光落在那个盛香米粥的碗口上。他瞅了一会儿，看到这个装着粥的青花大瓷碗虽然图案纹路清晰，秀美，烧制精到，但碗口不知道什么时候碰出一个半个米粒大的豁子。从美学角度讲，它已经破坏了完整的美。失去了原来的光彩和价值。他喝完这碗粥，也没觉得喝出来像以往的那种味道来，他自己也说不出什么道理来。</p>
           <p>但他俩毕竟正处在度新婚的日子，</p>
           <p>自己尽量掩饰这种感觉，不要让媳妇看出来。但丈夫那些细微的表情，都给细心的媳妇看在眼里。</p>
           <p>第二天，他媳妇仍然用那个有豁子的青花大瓷碗给他装饭。吃完饭，他自己也品不出是什么味道来，心想媳妇是不是拿碗拿巧了？</p>
           <p>第三天，他没让媳妇盛饭。自己早早就给媳妇和自己的饭做好了。可自己在吃饭的时候又发现了那个豁碗。这回他下定决心，一定要完全的，彻底的摆脱那个豁碗的纠缠。这天晚上，他趁媳妇不注意，把那个带豁的碗摔碎，扔到院外。</p>
           <p>第四天清晨，他起床时却没有看到新婚妻子，他看到床头柜上杯子下面压着一张纸条。上面写道‘看来你并没有原谅我以前告诉过你，我嘴角上有一个不明显的豁子’。</p>
         </div>
       </div>
     </div>

  </div>
  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
