<% provide(:title, "杂文") %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="markdown">
            <h3>公告</h3>
            <ol class="notices">
              <%= render 'shared/notices' %>
              <li class="more"><%= link_to 'more',more_path%></li>
            </ol>
           </div>
        </div>
      </div>
    </div>
    <%= render 'shared/nav' %>
  </div>
</div>
<div id="main" class="main-container container">
  <div class="row">
    <%= render 'shared/wenzhang' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="markdown">
           <dd>秋夜微凉</dd>
           <dl>作者：　寒俊</dl>
           <p>夜晚像一杯冰凉的开水洒落，灯火璀璨的点缀成画面。</p>
           <p>这糖水一般蜜甜的夜晚，这丹青一般绚烂的灯火。</p>
           <p>是否，会有一束光照耀，照耀着我梦中的新娘，那蜜甜的微笑，那粉黛点缀过得面庞。</p>
           <p>这树叶飘落的秋季，黄叶铺满的街道。行人走过留下惨破的声响，我难忘的那片夹在书页之间苦干的树叶，那是，那是那年的秋季你离开时放在我手心的回忆。</p>
           <p>没有了燃烧的炎热，一股晚风吹过寒意逼人的夜，梦中的你是否依旧，依旧喜欢炎热夏季那身清凉的裙摆。</p>
         </div>
       </div>
     </div>
  </div>
  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
