<div class="foot">
  <div class="foot_main">
    <strong>古代文学推荐</strong>
    <ul>
      <li><%= link_to '李白',libai_path %></li>
      <li><%= link_to '杜甫',dufu_path %></li>
      <li><%= link_to '辛弃疾','#' %></li>
      <li><%= link_to '白居易','#' %></li>
      <li><%= link_to '杜牧','#' %></li>
      <li><%= link_to '李清照','#' %></li>
   </ul>
  </div>
  </div>
