<div class="sidebar wiki-sidebar col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <strong>文章类别</strong>
      <ul>
       <li><%= link_to '散文',sanwen_path %></li>
       <li><%= link_to '诗歌',shige_path %></li>
       <li><%= link_to '杂文','#' %></li>
       <li><%= link_to '随笔','#' %></li>
       <li><%= link_to '日记','#' %></li>
       <li><%= link_to '小小说','#' %></li>
     </ul>
   </div>
 </div>
</div>
