<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>权限管理</h2>
        <%= simple_form_for [:admin, @user] do |f| %>
          <% for role in User::ROLES %>
            <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
            <%= label_tag "user_roles_#{role}", role.to_s.humanize %><br />
          <% end %>
          <%= hidden_field_tag "user[roles][]", "" %>
          <%= submit_tag "Update", class: 'btn btn-success' %>
        <% end %>
    </div>
  </div>
</div>
