<% provide(:title, "New writing") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [:admin, @writing] do |f| %>
        <%= f.input :name, placeholder: '请输入文章的标题' %>
        <%= f.input :wiki_id, collection: Wiki.all.map{|t| [t.mulu, t.id]} %>
        <%= f.input :mainbody ,as: :wysihtml5, placeholder: '请输入文章的内容' %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
