<% provide(:title, "Writing") %>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <%= link_to 'New Writing', new_admin_writing_path, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>
<%= form_tag admin_write_path, method: :get do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :mainbody %>
  <%= text_field_tag :mainbody %>
  <%= label_tag :mulu %>
  <%= text_field_tag :mulu %>
  <%= label_tag :id %>
  <%= text_field_tag :id %>
  <%= submit_tag 'search' %>
<% end %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Mainbody</td>
      <td>Wiki</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
      <%= paginate @writings, :theme => 'twitter-bootstrap-3' %>
      <% @writings.each do |writing| %>
      <tr>
        <td><%= writing.id %></td>
        <td><%= writing.name %></td>
        <td><%= raw writing.mainbody %></td>
        <td><%= raw writing.wiki.mulu %></td>
        <td><%= link_to 'edit', edit_admin_writing_path(writing), class: 'btn btn-primary' %></td>
        <td><%= link_to 'delete', [:admin, writing], method: :delete, class: 'btn btn-primary' %></td>
      </tr>
      <% end %>
  </tbody>
</table>
