<% provide(:title, "公告") %>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <div class="panel">
        <%= link_to 'New Notice', new_admin_notice_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
<div class="search">
  <%= form_tag admin_not_path, method: :get do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
    <%= label_tag :body %>
    <%= text_field_tag :body %>
    <%= label_tag :id %>
    <%= text_field_tag :id %>
    <%= submit_tag 'search' %>
  <% end %>
</div>
<div class="panel">
  <div class="panel-body">
    <table class="table table-bordered  table-striped table-hover">
      <thead>
        <tr class="success">
          <td>#</td>
          <td>Title</td>
          <td>Body</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <%= paginate @notices, :theme => 'twitter-bootstrap-3' %>
        <% @notices.each do |notice| %>
        <tr>
          <td><%= notice.id %></td>
          <td><%= notice.title %></td>
          <td><%= raw notice.body %></td>
          <td><%= link_to 'edit', edit_admin_notice_path(notice), class: 'btn btn-primary' %></td>
          <td><%= link_to 'delete', [:admin,notice], method: :delete, class: 'btn btn-primary' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
